RewriteEngine on
RewriteRule z.js$ /x.js [NC]
RewriteRule "^ssrf/([a-z0-9]+)/([0-9]+)/([a-f0-9]+)/?$" "/ssrf_store.php?session_id=$1&path_id=$2&hex_param=$3"
RewriteRule "^dtd/([a-z0-9]+)/([0-9]+)/([a-f0-9]+)/([a-z0-9]+)\.dtd$" "/xxe_dtd.php?session_id=$1&path_id=$2&hex_param=$3&payload=$4"
RewriteRule "^xoxo/([a-z0-9]+)/([0-9]+)/([a-f0-9]+)/([0-9]+)/(.*)$" "/xxe_store.php?session_id=$1&path_id=$2&hex_param=$3&payload=$4&data=$5"
RewriteRule "^e.php" /exec_test.txt [NC]
