include README.md
include INSTALL.md
include VERSION

recursive-include wapitiCore/config *
recursive-include wapitiCore/language_sources *
recursive-include wapitiCore/report_template *
recursive-include doc *
exclude wapitiCore/language_sources/*.sh
exclude wapitiCore/language_sources/file_list.txt
