[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=7.1.3"
respx = "==0.20.1"
pytest-asyncio = ">=0.20.1"
pytest-cov = ">=4.0.0"

[packages]
aiocache = "==0.12.0"
aiohttp = "==3.9.0"
aiosqlite = "==0.17.0"
arsenic = "==21.8"
beautifulsoup4 = ">=4.12.2"
browser-cookie3 = "==0.19.1"
dnspython = "==2.3.0"
h11 = ">=0.14.0"
httpcore = "==0.17.2"
"httpx[brotli, socks]" = "==0.24.1"
httpx_ntlm = ">=1.1.0"
humanize = "==4.4.0"
loguru = ">=0.5.3"
mako = ">=1.1.4"
markupsafe = "==2.1.1"
mitmproxy = ">=10.1.1"
pyasn1 = "==0.4.8"
pydantic = "==1.10.2"
pytest = ">=5.4.1"
six = ">=1.15.0"
sslyze = "==5.1.1"
sqlalchemy = ">=1.4.26"
tld = ">=0.12.5"
typing-extensions = "==4.4.0"
yaswfp = ">=0.9.3"

[requires]
python_version = "3.10"
