aiocache==0.11.1
aiohttp==3.8.3
aiosignal==1.3.1
aiosqlite==0.17.0
anyio==3.6.2
arsenic==21.8
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
Brotli==1.0.9
browser-cookie3==0.16.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cryptography==38.0.3
dnspython==2.2.1
Flask==2.2.2
frozenlist==1.3.3
greenlet==2.0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.15.0
httpx==0.23.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kaitaistruct==0.10
keyring==23.11.0
ldap3==2.9.1
loguru==0.6.0
lz4==4.0.2
Mako==1.2.4
MarkupSafe==2.1.1
mitmproxy==9.0.1
mitmproxy-wireguard==0.1.18
msgpack==1.0.4
multidict==6.0.2
passlib==1.7.4
pbkdf2==1.3
pyaes==1.6.1
pyasn1==0.4.8
pycryptodome==3.15.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
rfc3986==2.0.0
ruamel.yaml==0.17.21
sniffio==1.3.0
socksio==1.0.0
SQLAlchemy==1.4.44
structlog==22.2.0
tld==0.12.6
typing-extensions==4.4.0
Werkzeug==2.2.2
wsproto==1.2.0
yarl==1.8.1
yaswfp==0.9.3
zipp==3.10.0
zstandard==0.19.0
