<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<!-- http website -->
			<rule name="w3tc_pagecache" stopProcessing="true">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
					<add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
					<add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
					<add input="{DOCUMENT_ROOT}/wp-content/cache/page_enhanced/{HTTP_HOST}/{R:1}_index.html"
					matchType="IsFile" />
				</conditions>
				<action type="Rewrite" url="wp-content/cache/page_enhanced/{HTTP_HOST}/{R:1}_index.html" />
			</rule>
			<!-- https website -->
			<rule name="w3tc_pagecache_ssl" stopProcessing="true">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
					<add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
					<add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
					<add input="{DOCUMENT_ROOT}/wp-content/cache/page_enhanced/{HTTP_HOST}/{R:1}_index_ssl.html"
					matchType="IsFile" />
				</conditions>
				<action type="Rewrite" url="wp-content/cache/page_enhanced/{HTTP_HOST}/{R:1}_index_ssl.html" />
			</rule>
			<!-- minify, disk engine -->
			<rule name="w3tc_rewrite_test" stopProcessing="true">
			    <match url="/wp-content/cache/minify/w3tc_rewrite_test" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
			    <action type="Rewrite" url="index.php" />
			</rule>
			<rule name="w3tc-minify-file" stopProcessing="true">
			    <match url="/wp-content/cache/minify/(.+\.(css|js))$" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				</conditions>
			    <action type="Rewrite" url="index.php" />
			</rule>
			<rule name="WordPress" patternSyntax="Wildcard">
				<match url="*"/>
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule>
		</rules>
    </rewrite>
    <!-- leverage browser cache -->
    <staticContent>
    	<clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
  	</staticContent>
  </system.webServer>
</configuration>
