{
    "swagger": "2.0",
    "info": {
        "title": "Complexe Swagger",
        "description": "API",
        "version": "2.0"
    },
    "host": "fakeSwagger.fr",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/api/v2.0",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json"
    ],
    "securityDefinitions": {
        "basic": {
            "type": "basic"
        }
    },
    "security": [
        {
            "basic": []
        },
        {}
    ],
    "paths": {
        "/ldap/users/import": {
            "post": {
                "operationId": "importLdapUser",
                "summary": "Import selected available ldap users.",
                "description": "This endpoint adds the selected available ldap users based on related configuration parameters from the system. System will try to guess the user email address and realname, add to user information. If have errors when import user, will return the list of importing failed uid and the failed reason.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "uid_list",
                        "in": "body",
                        "description": "The uid listed for importing. This list will check users validity of ldap service based on configuration from the system.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LdapImportUsers"
                        }
                    }
                ],
                "tags": [
                    "Ldap"
                ],
                "responses": {
                    "200": {
                        "description": "Add ldap users successfully."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "description": "Failed import some users.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LdapFailedImportUser"
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects": {
            "get": {
                "summary": "List projects",
                "description": "This endpoint returns projects created.",
                "tags": [
                    "project"
                ],
                "operationId": "listProjects",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of project.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "public",
                        "in": "query",
                        "description": "The project is public or private.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "owner",
                        "in": "query",
                        "description": "The name of project owner.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "with_detail",
                        "in": "query",
                        "description": "Bool value indicating whether return detailed information of the project",
                        "type": "boolean",
                        "required": false,
                        "default": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return all matched projects.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "The total count of projects",
                                "type": "integer"
                            },
                            "Link": {
                                "description": "Link refers to the previous page and next page",
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "head": {
                "summary": "Check if the project name user provided already exists.",
                "description": "This endpoint is used to check if the project name provided already exist.",
                "tags": [
                    "project"
                ],
                "operationId": "headProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "project_name",
                        "in": "query",
                        "description": "Project name for checking exists.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a new project.",
                "description": "This endpoint is for user to create a new project.",
                "tags": [
                    "project"
                ],
                "operationId": "createProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/resourceNameInLocation"
                    },
                    {
                        "name": "project",
                        "in": "body",
                        "description": "New created project.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProjectReq"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name_or_id}": {
            "get": {
                "summary": "Return specific project detail information",
                "description": "This endpoint returns specific project information by project ID.",
                "tags": [
                    "project"
                ],
                "operationId": "getProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Return matched project information.",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update properties for a selected project.",
                "description": "This endpoint is aimed to update the properties of a project.",
                "tags": [
                    "project"
                ],
                "operationId": "updateProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    },
                    {
                        "name": "project",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProjectReq"
                        },
                        "description": "Updates of project."
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "delete": {
                "summary": "Delete project by projectID",
                "description": "This endpoint is aimed to delete project by project ID.",
                "tags": [
                    "project"
                ],
                "operationId": "deleteProject",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "412": {
                        "$ref": "#/responses/412"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name_or_id}/metadatas/": {
            "get": {
                "summary": "Get the metadata of the specific project",
                "description": "Get the metadata of the specific project",
                "operationId": "listProjectMetadatas",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    }
                ],
                "tags": [
                    "projectMetadata"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Add metadata for the specific project",
                "operationId": "addProjectMetadatas",
                "description": "Add metadata for the specific project",
                "tags": [
                    "projectMetadata"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    },
                    {
                        "name": "metadata",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name}/repositories/{repository_name}/artifacts": {
            "get": {
                "summary": "List artifacts",
                "description": "List artifacts under the specific project and repository. Except the basic properties, the other supported queries in \"q\" includes \"tags=*\" to list only tagged artifacts, \"tags=nil\" to list only untagged artifacts, \"tags=~v\" to list artifacts whose tag fuzzy matches \"v\", \"tags=v\" to list artifact whose tag exactly matches \"v\", \"labels=(id1, id2)\" to list artifacts that both labels with id1 and id2 are added to",
                "tags": [
                    "artifact"
                ],
                "operationId": "listArtifacts",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/repositoryName"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    },
                    {
                        "$ref": "#/parameters/acceptVulnerabilities"
                    },
                    {
                        "name": "with_tag",
                        "in": "query",
                        "description": "Specify whether the tags are included inside the returning artifacts",
                        "type": "boolean",
                        "required": false,
                        "default": true
                    },
                    {
                        "name": "with_label",
                        "in": "query",
                        "description": "Specify whether the labels are included inside the returning artifacts",
                        "type": "boolean",
                        "required": false,
                        "default": false
                    },
                    {
                        "name": "with_scan_overview",
                        "in": "query",
                        "description": "Specify whether the scan overview is included inside the returning artifacts",
                        "type": "boolean",
                        "required": false,
                        "default": false
                    },
                    {
                        "name": "with_signature",
                        "in": "query",
                        "description": "Specify whether the signature is included inside the tags of the returning artifacts. Only works when setting \"with_tag=true\"",
                        "type": "boolean",
                        "required": false,
                        "default": false
                    },
                    {
                        "name": "with_immutable_status",
                        "in": "query",
                        "description": "Specify whether the immutable status is included inside the tags of the returning artifacts. Only works when setting \"with_immutable_status=true\"",
                        "type": "boolean",
                        "required": false,
                        "default": false
                    },
                    {
                        "name": "with_accessory",
                        "in": "query",
                        "description": "Specify whether the accessories are included of the returning artifacts. Only works when setting \"with_accessory=true\"",
                        "type": "boolean",
                        "required": false,
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "X-Total-Count": {
                                "description": "The total count of artifacts",
                                "type": "integer"
                            },
                            "Link": {
                                "description": "Link refers to the previous page and next page",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Artifact"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Copy artifact",
                "description": "Copy the artifact specified in the \"from\" parameter to the repository.",
                "tags": [
                    "artifact"
                ],
                "operationId": "CopyArtifact",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/repositoryName"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "The artifact from which the new artifact is copied from, the format should be \"project/repository:tag\" or \"project/repository@digest\".",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "405": {
                        "$ref": "#/responses/405"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name}/preheat/policies/{preheat_policy_name}": {
            "get": {
                "summary": "Get a preheat policy",
                "description": "Get a preheat policy",
                "tags": [
                    "preheat"
                ],
                "operationId": "GetPolicy",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get a preheat policy success",
                        "schema": {
                            "$ref": "#/definitions/PreheatPolicy"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update preheat policy",
                "description": "Update preheat policy",
                "tags": [
                    "preheat"
                ],
                "operationId": "UpdatePolicy",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    },
                    {
                        "name": "policy",
                        "in": "body",
                        "description": "The policy schema info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PreheatPolicy"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Manual preheat",
                "description": "Manual preheat",
                "tags": [
                    "preheat"
                ],
                "operationId": "ManualPreheat",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    },
                    {
                        "name": "policy",
                        "in": "body",
                        "description": "The policy schema info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PreheatPolicy"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "delete": {
                "summary": "Delete a preheat policy",
                "description": "Delete a preheat policy",
                "tags": [
                    "preheat"
                ],
                "operationId": "DeletePolicy",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name}/preheat/policies/{preheat_policy_name}/executions/{execution_id}": {
            "get": {
                "summary": "Get a execution detail by id",
                "description": "Get a execution detail by id",
                "tags": [
                    "preheat"
                ],
                "operationId": "GetExecution",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    },
                    {
                        "$ref": "#/parameters/executionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get execution success",
                        "schema": {
                            "$ref": "#/definitions/Execution"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "patch": {
                "summary": "Stop a execution",
                "description": "Stop a execution",
                "tags": [
                    "preheat"
                ],
                "operationId": "StopExecution",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/projectName"
                    },
                    {
                        "$ref": "#/parameters/preheatPolicyName"
                    },
                    {
                        "$ref": "#/parameters/executionId"
                    },
                    {
                        "name": "execution",
                        "description": "The data of execution",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Execution"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/projects/{project_name_or_id}/robots": {
            "get": {
                "summary": "Get all robot accounts of specified project",
                "description": "Get all robot accounts of specified project",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    }
                ],
                "tags": [
                    "robotv1"
                ],
                "operationId": "ListRobotV1",
                "responses": {
                    "200": {
                        "description": "Success",
                        "headers": {
                            "X-Total-Count": {
                                "description": "The total count of robot accounts",
                                "type": "integer"
                            },
                            "Link": {
                                "description": "Link refers to the previous page and next page",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Robot"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a robot account",
                "description": "Create a robot account",
                "tags": [
                    "robotv1"
                ],
                "operationId": "CreateRobotV1",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/isResourceName"
                    },
                    {
                        "$ref": "#/parameters/projectNameOrId"
                    },
                    {
                        "name": "robot",
                        "in": "body",
                        "description": "The JSON object of a robot account.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RobotCreateV1"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {
                            "X-Request-Id": {
                                "description": "The ID of the corresponding request for the response",
                                "type": "string"
                            },
                            "Location": {
                                "description": "The location of the resource",
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/RobotCreated"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/system/purgeaudit/schedule": {
            "get": {
                "summary": "Get purge's schedule.",
                "description": "This endpoint is for get schedule of purge job.",
                "operationId": "getPurgeSchedule",
                "tags": [
                    "purge"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get purge job's schedule.",
                        "schema": {
                            "$ref": "#/definitions/ExecHistory"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a purge job schedule.",
                "description": "This endpoint is for update purge job schedule.\n",
                "operationId": "createPurgeSchedule",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Schedule"
                        },
                        "description": "The purge job's schedule, it is a json object. |\nThe sample format is |\n{\"parameters\":{\"audit_retention_hour\":168,\"dry_run\":true, \"include_operations\":\"create,delete,pull\"},\"schedule\":{\"type\":\"Hourly\",\"cron\":\"0 0 * * * *\"}} |\nthe include_operation should be a comma separated string, e.g. create,delete,pull, if it is empty, no operation will be purged.\n"
                    }
                ],
                "tags": [
                    "purge"
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update purge job's schedule.",
                "description": "This endpoint is for update purge job schedule.\n",
                "operationId": "updatePurgeSchedule",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Schedule"
                        },
                        "description": "The purge job's schedule, it is a json object. |\nThe sample format is |\n{\"parameters\":{\"audit_retention_hour\":168,\"dry_run\":true, \"include_operations\":\"create,delete,pull\"},\"schedule\":{\"type\":\"Hourly\",\"cron\":\"0 0 * * * *\"}} |\nthe include_operation should be a comma separated string, e.g. create,delete,pull, if it is empty, no operation will be purged.\n"
                    }
                ],
                "tags": [
                    "purge"
                ],
                "responses": {
                    "200": {
                        "description": "Updated purge's schedule successfully."
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/system/CVEAllowlist": {
            "get": {
                "summary": "Get the system level allowlist of CVE.",
                "description": "Get the system level allowlist of CVE.  This API can be called by all authenticated users.",
                "operationId": "getSystemCVEAllowlist",
                "tags": [
                    "SystemCVEAllowlist"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the CVE allowlist.",
                        "schema": {
                            "$ref": "#/definitions/CVEAllowlist"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update the system level allowlist of CVE.",
                "description": "This API overwrites the system level allowlist of CVE with the list in request body.  Only system Admin has permission to call this API.",
                "operationId": "putSystemCVEAllowlist",
                "tags": [
                    "SystemCVEAllowlist"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "in": "body",
                        "name": "allowlist",
                        "description": "The allowlist with new content",
                        "schema": {
                            "$ref": "#/definitions/CVEAllowlist"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the CVE allowlist."
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/system/scanAll/schedule": {
            "get": {
                "summary": "Get scan all's schedule.",
                "description": "This endpoint is for getting a schedule for the scan all job, which scans all of images.",
                "tags": [
                    "scanAll"
                ],
                "operationId": "getScanAllSchedule",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get a schedule for the scan all job, which scans all of images.",
                        "schema": {
                            "$ref": "#/definitions/Schedule"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "412": {
                        "$ref": "#/responses/412"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update scan all's schedule.",
                "description": "This endpoint is for updating the schedule of scan all job, which scans all of images.",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Schedule"
                        },
                        "description": "Updates the schedule of scan all job, which scans all of images."
                    }
                ],
                "tags": [
                    "scanAll"
                ],
                "operationId": "updateScanAllSchedule",
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "412": {
                        "$ref": "#/responses/412"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a schedule or a manual trigger for the scan all job.",
                "description": "This endpoint is for creating a schedule or a manual trigger for the scan all job, which scans all of images.",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "schedule",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Schedule"
                        },
                        "description": "Create a schedule or a manual trigger for the scan all job."
                    }
                ],
                "tags": [
                    "scanAll"
                ],
                "operationId": "createScanAllSchedule",
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "412": {
                        "$ref": "#/responses/412"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/scanners": {
            "get": {
                "summary": "List scanner registrations",
                "description": "Returns a list of currently configured scanner registrations.\n",
                "tags": [
                    "scanner"
                ],
                "operationId": "listScanners",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of scanner registrations.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ScannerRegistration"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "The total count of available items",
                                "type": "integer"
                            },
                            "Link": {
                                "description": "Link to previous page and next page",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a scanner registration",
                "description": "Creats a new scanner registration with the given data.\n",
                "tags": [
                    "scanner"
                ],
                "operationId": "createScanner",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "registration",
                        "in": "body",
                        "description": "A scanner registration to be created.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ScannerRegistrationReq"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created successfully",
                        "headers": {
                            "Location": {
                                "type": "string",
                                "description": "The URL of the created resource"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "List users",
                "tags": [
                    "user"
                ],
                "operationId": "listUsers",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "$ref": "#/parameters/sort"
                    },
                    {
                        "$ref": "#/parameters/page"
                    },
                    {
                        "$ref": "#/parameters/pageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "return the list of users.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserResp"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "description": "The total count of users",
                                "type": "integer"
                            },
                            "Link": {
                                "description": "Link to previous page and next page",
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "post": {
                "summary": "Create a local user.",
                "description": "This API can be used only when the authentication mode is for local DB.  When self registration is disabled.",
                "tags": [
                    "user"
                ],
                "operationId": "createUser",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "userReq",
                        "in": "body",
                        "description": "The new user",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserCreationReq"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "$ref": "#/responses/201"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "description": "When the  self registration is disabled, non-admin does not have permission to create user.  When self registration is enabled, this API can only be called from UI portal, calling it via script will get a 403 error."
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/users/{user_id}": {
            "get": {
                "summary": "Get a user's profile.",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "type": "integer",
                        "format": "int",
                        "required": true
                    }
                ],
                "tags": [
                    "user"
                ],
                "operationId": "getUser",
                "responses": {
                    "200": {
                        "description": "Get user's info successfully.",
                        "schema": {
                            "$ref": "#/definitions/UserResp"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update user's profile.",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "type": "integer",
                        "format": "int",
                        "required": true,
                        "description": "Registered user ID"
                    },
                    {
                        "name": "profile",
                        "in": "body",
                        "description": "Only email, realname and comment can be modified.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    }
                ],
                "tags": [
                    "user"
                ],
                "operationId": "updateUserProfile",
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "delete": {
                "summary": "Mark a registered user as be removed.",
                "description": "This endpoint let administrator mark a registered user as removed.It actually won't be deleted from DB.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "type": "integer",
                        "format": "int",
                        "required": true,
                        "description": "User ID for marking as to be removed."
                    }
                ],
                "tags": [
                    "user"
                ],
                "operationId": "deleteUser",
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/labels/{label_id}": {
            "get": {
                "summary": "Get the label specified by ID.",
                "description": "This endpoint let user get the label by specific ID.\n",
                "tags": [
                    "label"
                ],
                "operationId": "GetLabelByID",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/labelId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get successfully.",
                        "schema": {
                            "$ref": "#/definitions/Label"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "put": {
                "summary": "Update the label properties.",
                "description": "This endpoint let user update label properties.\n",
                "tags": [
                    "label"
                ],
                "operationId": "UpdateLabel",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/labelId"
                    },
                    {
                        "name": "label",
                        "in": "body",
                        "description": "The updated label json object.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Label"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            },
            "delete": {
                "summary": "Delete the label specified by ID.",
                "description": "Delete the label specified by ID.\n",
                "tags": [
                    "label"
                ],
                "operationId": "DeleteLabel",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/labelId"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/200"
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/export/cve": {
            "post": {
                "summary": "Export scan data for selected projects",
                "description": "Export scan data for selected projects",
                "tags": [
                    "scan data export"
                ],
                "operationId": "exportScanData",
                "parameters": [
                    {
                        "$ref": "#/parameters/requestId"
                    },
                    {
                        "$ref": "#/parameters/scanDataType"
                    },
                    {
                        "name": "criteria",
                        "in": "body",
                        "description": "The criteria for the export",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ScanDataExportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success.",
                        "schema": {
                            "$ref": "#/definitions/ScanDataExportJob"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "405": {
                        "$ref": "#/responses/405"
                    },
                    "409": {
                        "$ref": "#/responses/409"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        }
    },
    "parameters": {
        "query": {
            "name": "q",
            "description": "Query string to query resources. Supported query patterns are \"exact match(k=v)\", \"fuzzy match(k=~v)\", \"range(k=[min~max])\", \"list with union releationship(k={v1 v2 v3})\" and \"list with intersetion relationship(k=(v1 v2 v3))\". The value of range and list can be string(enclosed by \" or '), integer or time(in format \"2020-04-09 02:36:00\"). All of these query patterns should be put in the query string \"q=xxx\" and splitted by \",\". e.g. q=k1=v1,k2=~v2,k3=[min~max]",
            "in": "query",
            "type": "string",
            "required": false
        },
        "sort": {
            "name": "sort",
            "description": "Sort the resource list in ascending or descending order. e.g. sort by field1 in ascending orderr and field2 in descending order with \"sort=field1,-field2\"",
            "in": "query",
            "type": "string",
            "required": false
        },
        "page": {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "required": false,
            "description": "The page number",
            "default": 1
        },
        "pageSize": {
            "name": "page_size",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "required": false,
            "description": "The size of per page",
            "default": 10,
            "maximum": 100
        },
        "requestId": {
            "name": "X-Request-Id",
            "description": "An unique ID for the request",
            "in": "header",
            "type": "string",
            "required": false,
            "minLength": 1
        },
        "resourceNameInLocation": {
            "name": "X-Resource-Name-In-Location",
            "description": "The flag to indicate whether to return the name of the resource in Location. When X-Resource-Name-In-Location is true, the Location will return the name of the resource.",
            "in": "header",
            "type": "boolean",
            "required": false,
            "default": false
        },
        "isResourceName": {
            "name": "X-Is-Resource-Name",
            "description": "The flag to indicate whether the parameter which supports both name and id in the path is the name of the resource. When the X-Is-Resource-Name is false and the parameter can be converted to an integer, the parameter will be as an id, otherwise, it will be as a name.",
            "in": "header",
            "type": "boolean",
            "required": false,
            "default": false
        },
        "acceptVulnerabilities": {
            "name": "X-Accept-Vulnerabilities",
            "in": "header",
            "type": "string",
            "default": "application/vnd.security.vulnerability.report; version=1.1, application/vnd.scanner.adapter.vuln.report+json; version=1.0",
            "description": "A comma-separated lists of MIME types for the scan report or scan summary. The first mime type will be used when the report found for it.\nCurrently the mime type supports 'application/vnd.scanner.adapter.vuln.report+json; version=1.0' and 'application/vnd.security.vulnerability.report; version=1.1'"
        },
        "projectName": {
            "name": "project_name",
            "in": "path",
            "description": "The name of the project",
            "required": true,
            "type": "string"
        },
        "projectNameOrId": {
            "name": "project_name_or_id",
            "in": "path",
            "description": "The name or id of the project",
            "required": true,
            "type": "string"
        },
        "repositoryName": {
            "name": "repository_name",
            "in": "path",
            "description": "The name of the repository. If it contains slash, encode it with URL encoding. e.g. a/b -> a%252Fb",
            "required": true,
            "type": "string"
        },
        "reference": {
            "name": "reference",
            "in": "path",
            "description": "The reference of the artifact, can be digest or tag",
            "required": true,
            "type": "string"
        },
        "digest": {
            "name": "digest",
            "in": "path",
            "description": "The digest of the resource",
            "required": true,
            "type": "string"
        },
        "preheatPolicyName": {
            "name": "preheat_policy_name",
            "in": "path",
            "description": "Preheat Policy Name",
            "required": true,
            "type": "string"
        },
        "executionId": {
            "name": "execution_id",
            "in": "path",
            "description": "Execution ID",
            "required": true,
            "type": "integer"
        },
        "labelId": {
            "name": "label_id",
            "in": "path",
            "description": "Label ID",
            "required": true,
            "type": "integer",
            "format": "int64"
        },
        "scanDataType": {
            "name": "X-Scan-Data-Type",
            "description": "The type of scan data to export",
            "in": "header",
            "type": "string",
            "required": true
        },
        "userName": {
            "name": "user_name",
            "description": "The name of the user",
            "in": "query",
            "type": "string",
            "required": true
        }
    },
    "responses": {
        "200": {
            "description": "Success",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            }
        },
        "201": {
            "description": "Created",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                },
                "Location": {
                    "description": "The location of the resource",
                    "type": "string"
                }
            }
        },
        "202": {
            "description": "Accepted",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            }
        },
        "400": {
            "description": "Bad request",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "401": {
            "description": "Unauthorized",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "403": {
            "description": "Forbidden",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "404": {
            "description": "Not found",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "405": {
            "description": "Method not allowed",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "409": {
            "description": "Conflict",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "412": {
            "description": "Precondition failed",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "415": {
            "description": "Unsupported MediaType",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        },
        "500": {
            "description": "Internal server error",
            "headers": {
                "X-Request-Id": {
                    "description": "The ID of the corresponding request for the response",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/Errors"
            }
        }
    },
    "definitions": {
        "Errors": {
            "description": "The error array that describe the errors got during the handling of request",
            "type": "object",
            "properties": {
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Error"
                    }
                }
            }
        },
        "Error": {
            "description": "a model for all the error response coming.",
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The error code"
                },
                "message": {
                    "type": "string",
                    "description": "The error message"
                }
            }
        },
        "Artifact": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the artifact"
                },
                "type": {
                    "type": "string",
                    "description": "The type of the artifact, e.g. image, chart, etc"
                },
                "media_type": {
                    "type": "string",
                    "description": "The media type of the artifact"
                },
                "manifest_media_type": {
                    "type": "string",
                    "description": "The manifest media type of the artifact"
                },
                "project_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the project that the artifact belongs to"
                },
                "repository_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the repository that the artifact belongs to"
                },
                "digest": {
                    "type": "string",
                    "description": "The digest of the artifact"
                },
                "size": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The size of the artifact"
                },
                "icon": {
                    "type": "string",
                    "description": "The digest of the icon"
                },
                "push_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The push time of the artifact"
                },
                "pull_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The latest pull time of the artifact"
                },
                "extra_attrs": {
                    "$ref": "#/definitions/ExtraAttrs"
                },
                "annotations": {
                    "$ref": "#/definitions/Annotations"
                },
                "references": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Reference"
                    }
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tag"
                    }
                },
                "addition_links": {
                    "$ref": "#/definitions/AdditionLinks"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Label"
                    }
                },
                "scan_overview": {
                    "$ref": "#/definitions/ScanOverview",
                    "description": "The overview of the scan result."
                },
                "accessories": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Accessory",
                        "description": "The accessory of the artifact."
                    }
                }
            }
        },
        "Tag": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the tag"
                },
                "repository_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the repository that the tag belongs to"
                },
                "artifact_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the artifact that the tag attached to"
                },
                "name": {
                    "type": "string",
                    "description": "The name of the tag"
                },
                "push_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The push time of the tag"
                },
                "pull_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The latest pull time of the tag"
                },
                "immutable": {
                    "type": "boolean",
                    "x-omitempty": false,
                    "description": "The immutable status of the tag"
                }
            }
        },
        "ExtraAttrs": {
            "type": "object",
            "additionalProperties": {
                "type": "object"
            }
        },
        "Annotations": {
            "type": "object",
            "additionalProperties": {
                "type": "string"
            }
        },
        "AdditionLinks": {
            "type": "object",
            "additionalProperties": {
                "$ref": "#/definitions/AdditionLink"
            }
        },
        "AdditionLink": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string",
                    "description": "The link of the addition"
                },
                "absolute": {
                    "type": "boolean",
                    "x-omitempty": false,
                    "description": "Determine whether the link is an absolute URL or not"
                }
            }
        },
        "Reference": {
            "type": "object",
            "properties": {
                "parent_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The parent ID of the reference"
                },
                "child_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The child ID of the reference"
                },
                "child_digest": {
                    "type": "string",
                    "description": "The digest of the child artifact"
                },
                "platform": {
                    "$ref": "#/definitions/Platform"
                },
                "annotations": {
                    "$ref": "#/definitions/Annotations"
                },
                "urls": {
                    "type": "array",
                    "description": "The download URLs",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Platform": {
            "type": "object",
            "properties": {
                "architecture": {
                    "type": "string",
                    "description": "The architecture that the artifact applys to"
                },
                "os": {
                    "type": "string",
                    "description": "The OS that the artifact applys to"
                },
                "'os.version'": {
                    "type": "string",
                    "description": "The version of the OS that the artifact applys to"
                },
                "'os.features'": {
                    "type": "array",
                    "description": "The features of the OS that the artifact applys to",
                    "items": {
                        "type": "string"
                    }
                },
                "variant": {
                    "type": "string",
                    "description": "The variant of the CPU"
                }
            }
        },
        "Label": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of the label"
                },
                "name": {
                    "type": "string",
                    "description": "The name the label"
                },
                "description": {
                    "type": "string",
                    "description": "The description the label"
                },
                "color": {
                    "type": "string",
                    "description": "The color the label"
                },
                "scope": {
                    "type": "string",
                    "description": "The scope the label"
                },
                "project_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of project that the label belongs to"
                },
                "creation_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The creation time the label"
                },
                "update_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The update time of the label"
                }
            }
        },
        "Scanner": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Name of the scanner",
                    "example": "Trivy"
                },
                "vendor": {
                    "type": "string",
                    "description": "Name of the scanner provider",
                    "example": "Aqua Security"
                },
                "version": {
                    "type": "string",
                    "description": "Version of the scanner adapter",
                    "example": "v0.9.1"
                }
            }
        },
        "ScanOverview": {
            "type": "object",
            "description": "The scan overview attached in the metadata of tag",
            "additionalProperties": {
                "$ref": "#/definitions/NativeReportSummary"
            }
        },
        "NativeReportSummary": {
            "type": "object",
            "description": "The summary for the native report",
            "properties": {
                "report_id": {
                    "type": "string",
                    "description": "id of the native scan report",
                    "example": "5f62c830-f996-11e9-957f-0242c0a89008"
                },
                "scan_status": {
                    "type": "string",
                    "description": "The status of the report generating process",
                    "example": "Success"
                },
                "severity": {
                    "type": "string",
                    "description": "The overall severity",
                    "example": "High"
                },
                "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The seconds spent for generating the report",
                    "example": 300
                },
                "summary": {
                    "$ref": "#/definitions/VulnerabilitySummary"
                },
                "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start time of the scan process that generating report",
                    "example": "2006-01-02T14:04:05Z"
                },
                "end_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The end time of the scan process that generating report",
                    "example": "2006-01-02T15:04:05Z"
                },
                "complete_percent": {
                    "type": "integer",
                    "description": "The complete percent of the scanning which value is between 0 and 100",
                    "example": 100
                },
                "scanner": {
                    "$ref": "#/definitions/Scanner"
                }
            }
        },
        "VulnerabilitySummary": {
            "type": "object",
            "description": "VulnerabilitySummary contains the total number of the foun d vulnerabilities number and numbers of each severity level.\n",
            "properties": {
                "total": {
                    "type": "integer",
                    "format": "int",
                    "description": "The total number of the found vulnerabilities",
                    "example": 500,
                    "x-omitempty": false
                },
                "fixable": {
                    "type": "integer",
                    "format": "int",
                    "description": "The number of the fixable vulnerabilities",
                    "example": 100,
                    "x-omitempty": false
                },
                "summary": {
                    "type": "object",
                    "description": "Numbers of the vulnerabilities with different severity",
                    "additionalProperties": {
                        "type": "integer",
                        "format": "int",
                        "example": 10
                    },
                    "example": {
                        "Critical": 5,
                        "High": 5
                    },
                    "x-omitempty": false
                }
            }
        },
        "Metadata": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "id"
                },
                "name": {
                    "type": "string",
                    "description": "name"
                },
                "icon": {
                    "type": "string",
                    "description": "icon"
                },
                "maintainers": {
                    "type": "array",
                    "description": "maintainers",
                    "items": {
                        "type": "string"
                    }
                },
                "version": {
                    "type": "string",
                    "description": "version"
                },
                "source": {
                    "type": "string",
                    "description": "source"
                }
            }
        },
        "PreheatPolicy": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "The ID of preheat policy"
                },
                "name": {
                    "type": "string",
                    "description": "The Name of preheat policy"
                },
                "description": {
                    "type": "string",
                    "description": "The Description of preheat policy"
                },
                "project_id": {
                    "type": "integer",
                    "description": "The ID of preheat policy project"
                },
                "provider_id": {
                    "type": "integer",
                    "description": "The ID of preheat policy provider"
                },
                "provider_name": {
                    "type": "string",
                    "description": "The Name of preheat policy provider"
                },
                "filters": {
                    "type": "string",
                    "description": "The Filters of preheat policy"
                },
                "trigger": {
                    "type": "string",
                    "description": "The Trigger of preheat policy"
                },
                "enabled": {
                    "type": "boolean",
                    "description": "Whether the preheat policy enabled",
                    "x-omitempty": false
                },
                "creation_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The Create Time of preheat policy"
                },
                "update_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The Update Time of preheat policy"
                }
            }
        },
        "Metrics": {
            "type": "object",
            "properties": {
                "task_count": {
                    "type": "integer",
                    "description": "The count of task"
                },
                "success_task_count": {
                    "type": "integer",
                    "description": "The count of success task"
                },
                "error_task_count": {
                    "type": "integer",
                    "description": "The count of error task"
                },
                "pending_task_count": {
                    "type": "integer",
                    "description": "The count of pending task"
                },
                "running_task_count": {
                    "type": "integer",
                    "description": "The count of running task"
                },
                "scheduled_task_count": {
                    "type": "integer",
                    "description": "The count of scheduled task"
                },
                "stopped_task_count": {
                    "type": "integer",
                    "description": "The count of stopped task"
                }
            }
        },
        "Execution": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "The ID of execution"
                },
                "vendor_type": {
                    "type": "string",
                    "description": "The vendor type of execution"
                },
                "vendor_id": {
                    "type": "integer",
                    "description": "The vendor id of execution"
                },
                "status": {
                    "type": "string",
                    "description": "The status of execution"
                },
                "status_message": {
                    "type": "string",
                    "description": "The status message of execution"
                },
                "metrics": {
                    "$ref": "#/definitions/Metrics"
                },
                "trigger": {
                    "type": "string",
                    "description": "The trigger of execution"
                },
                "extra_attrs": {
                    "$ref": "#/definitions/ExtraAttrs"
                },
                "start_time": {
                    "type": "string",
                    "description": "The start time of execution"
                },
                "end_time": {
                    "type": "string",
                    "description": "The end time of execution"
                }
            }
        },
        "Icon": {
            "type": "object",
            "properties": {
                "content-type": {
                    "type": "string",
                    "description": "The content type of the icon"
                },
                "content": {
                    "type": "string",
                    "description": "The base64 encoded content of the icon"
                }
            }
        },
        "ProjectReq": {
            "type": "object",
            "properties": {
                "project_name": {
                    "type": "string",
                    "description": "The name of the project.",
                    "maxLength": 255
                },
                "public": {
                    "type": "boolean",
                    "description": "deprecated, reserved for project creation in replication",
                    "x-nullable": true
                },
                "metadata": {
                    "description": "The metadata of the project.",
                    "$ref": "#/definitions/ProjectMetadata"
                },
                "cve_allowlist": {
                    "description": "The CVE allowlist of the project.",
                    "$ref": "#/definitions/CVEAllowlist"
                },
                "storage_limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The storage quota of the project.",
                    "x-nullable": true
                },
                "registry_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The ID of referenced registry when creating the proxy cache project",
                    "x-nullable": true
                }
            }
        },
        "Project": {
            "type": "object",
            "properties": {
                "project_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Project ID"
                },
                "owner_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The owner ID of the project always means the creator of the project."
                },
                "name": {
                    "type": "string",
                    "description": "The name of the project."
                },
                "registry_id": {
[...]
